.home__image {
  width: 100%;
  z-index: -1;
  /* margin-bottom: -150px; */
  position: absolute;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home__row {
  display: flex;
  
  justify-content: center;
}
.home__row > div {
  margin-top: 18%;
}

.home__row2 {
  height: 400px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ececec;
  
}

.home__row3 {
  height: 400px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ececec;
}
.home__row5{
  display: flex;
  justify-content: center;
  height: auto;
  background-color: #ececec;
}